{% extends 'seats/base.html' %}
{% load static %}

{% block head %}
<title>Inscription</title>
  <link rel="stylesheet" type="text/css" href="{% static 'seats/index.css' %}">
{% endblock %}

{% block content %}

<!--  <form action="" class="event-selection-form" method="post">-->

<!--    {{event_add_form.as_p}}-->
<h2>Inscription</h2>
<p> Veuillez remplir ces champs pour créer votre compte</p><br>
 <form action="" method="post">
        {% csrf_token %}
<table class="inscription">
     {% for i, j in el_zipo %}

     <tr><td>{{ i }}</td><td>{{ j }}</td></tr>

     {% endfor %}
</table>
     <br>
    <div class="button_inscription">
        <button type="submit">Valider</button>
        <button type="reset">Annuler</button>
    </div>

  </form>


{% endblock %}